body {
    font-family: 'Oswald', sans-serif;
  }


.column-layout {
    display: flex;
    max-width: 1300px;
    background-color: pink;
    padding: 20px 50px;
    margin: 40px auto;
   /* justify-content: space-between;*/
    }

.main-column {
    flex: 2;
    background-color: white;
    padding: 0 10px;
    order: 2;
}

.sidebar-one {
    flex: 1;
    background-color: lightgray;
    padding: 0 10px;
    order: 1;
}

.sidebar-two {
    flex: 1;
    background-color: lightgray;
    padding: 0 10px;
    order: 3;
    }

    .container {
      display: flex;
      Padding:10px;
      background-color: #;
      min-height: 300px;

      color:  #;
      font-size:  36px;
      text-align:  center;
    }
    /*This tells the browser to account for any border and padding in the values you specify for an element's width and height.*/






    .week {
      display: flex;
    }

    .day {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
    }

    .week:first-of-type .day:first-of-type {
      margin-left: 85.85714%;
    }

    .week:last-of-type .day:last-of-type {
      margin-right: 0%;
    }

    /* OTHER STYLES */

    html, body {
      height: 100%;
    }

    body {
      background: linear-gradient(top, #fad961, #f76d1d);
      background-attachment: fixed;
    }

    .month {
      max-width: 560px;
      margin: 20px auto;
    }

    .week {
      height: 80px;
    }

    .day {
      color: #F98909;
      padding: 5px;
      background-color: transparentize(white, 0.30);
      box-shadow:
        -1px -1px #F9A440,
        inset -1px -1px 0 0 #F9A440;
    }


    .break {
      width: 100%;
      height: 0;
    }
