*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

h2{
  position : absolute;
  left : 30px;
  top : 60px;
}
h3{
  position : absolute;
  left : 110px;
  top : 60px;
}

body {
  min-height: 100vh;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  display: absolute;
  flex-direction: column;

  overflow: hidden;
  background-color: #eff8e2;

}

.content {
  display: flex;

}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  //color: transparent;
  //background-color: white;
  //background-clip: text;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}



body {
  background-color: #AFA1FF;

}


@font-face {
  font-family: "Arbutus";
  src: url("font/Arbutus-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  src: url("font/Inter-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("font/Inter-Regular.woff") format("woff");
}

#font {
  position: absolute;
  width: 495px;
  height: 120px;
  left: 598px;
  top: 665px;

  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

#cereal{
  position: absolute;
  width: 419px;
  height: 164px;
  left: 25px;
  top: 25px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
    padding : 100px 20px;
  color: #000000;
}
#a {
  position: absolute;
  width: 106px;
  height: 85px;
  left: 793.49px;
  top: 317px;

  font-family: 'Arbutus';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;

  color: #E00000;

  transform: rotate(21.74deg);
}

#aa {
  position: absolute;
  width: 106px;
  height: 85px;
  left: 743.49px;
  top: 317px;

  font-family: 'Arbutus';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;

  color: #E00000;

  transform: rotate(21.74deg);
}

#bb {
  position: absolute;
  width: 105px;
  height: 64px;
  left: 504px;
  top: 264px;

  font-family: 'Arbutus';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;

  color: #FFE600;
}

#cc{
  position: absolute;
  width: 158px;
  height: 96px;
  left: 659px;
  top: 355.89px;

  font-family: 'Arbutus';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;

  color: #4BB725;

  transform: rotate(-33.36deg);
}

#dd{
  position: absolute;
  width: 143px;
  height: 110px;
  left: 666px;
  top: 188px;

  font-family: 'Arbutus';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;

  color: #377FEC;

  transform: rotate(26.65deg);
}

#ff{
  position: absolute;
  width: 176px;
  height: 125px;
  left: 806px;
  top: 308.27px;

  font-family: 'Arbutus';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;

  color: #A4E7FC;

  transform: rotate(-20.72deg);
}

#gg{
  position: absolute;
  width: 78px;
  height: 74px;
  left: 792px;
  top: 132px;

  font-family: 'Arbutus';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;



  color: #A466C1;
}

#oo{
  position: absolute;
  width: 182px;
  height: 82px;
  left: 504px;
  top: 135px;

  font-family: 'Arbutus';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;

  color: #FF9191;
}

#star{
  position: absolute;
  width: 178px;
  height: 109px;
  left: 648.62px;
  top: 71px;

  font-family: 'Arbutus';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 80px;

  color: #BE8686;

  transform: rotate(27.67deg);
}

#starleft{

  position: absolute;
  width: 178px;
  height: 109px;
  left: 487.49px;
  top: 350.9px;

  font-family: 'Arbutus';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 80px;

  color: #BE8686;

  transform: rotate(-27.67deg);
}

 h5 {
   position : absolute;
left : 60px;
z-index: 1;
}
