a {
  padding : 30px;
  color : yellow;
}
#rec1{
position: absolute;
width: 88px;
height: 713px;
left: 481px;
top: 42px;

background: linear-gradient(180deg, #FFEDBD 0%, rgba(255, 168, 168, 0) 100%);
}

#rec2{
  position: absolute;
  width: 88px;
  height: 713px;
  left: 532px;
  top: 78px;

  background: linear-gradient(180deg, #FFEDBD 0%, rgba(255, 168, 168, 0) 100%);
}
#rec3{
  position: absolute;
  width: 88px;
  height: 713px;
  left: 425px;
  top: 78px;

  background: linear-gradient(180deg, #FFEDBD 0%, rgba(255, 168, 168, 0) 100%);
}
#rec4{
  position: absolute;
  width: 44px;
  height: 87px;
  left: 293px;
  top: 109px;

  background: linear-gradient(180deg, #B8FFBF 0%, rgba(168, 250, 255, 0) 100%);
}
#rec5{
  position: absolute;
  width: 183px;
  height: 476px;
  left: 223px;
  top: 196px;

  background: linear-gradient(180deg, #B8FFBF 0%, rgba(168, 250, 255, 0) 100%);
}
#rec6{
  position: absolute;
  width: 30px;
  height: 506px;
  left: 376px;
  top: 163px;

  background: linear-gradient(180deg, #B8FFBF 0%, rgba(168, 250, 255, 0) 100%);
}
#rec7{
  position: absolute;
  width: 30px;
  height: 506px;
  left: 223px;
  top: 163px;

  background: linear-gradient(180deg, #B8FFBF 0%, rgba(168, 250, 255, 0) 100%);
}
#rec8{
  position: absolute;
  width: 129px;
  height: 456px;
  left: 43px;
  top: 322px;

  background: linear-gradient(180deg, #D0FFB3 0%, rgba(255, 168, 168, 0) 100%);
}
#rec9{
  position: absolute;
  width: 183px;
  height: 300px;
  left: 301px;
  top: 383px;

  background: linear-gradient(180deg, #FAFD7F 0%, rgba(255, 168, 168, 0) 100%);
}
#rec10{
  position: absolute;
  width: 98px;
  height: 596px;
  left: 809px;
  top: 165px;

  background: linear-gradient(180deg, #BDE7FF 0%, rgba(255, 168, 168, 0) 100%);
}
#rec11{
  position: absolute;
width: 48px;
height: 80px;
left: 834px;
top: 86px;

background: linear-gradient(180deg, #BDE7FF 32.5%, rgba(255, 168, 168, 0) 132.5%);

}
#rec12{
  position: absolute;
  width: 16px;
  height: 97px;
  left: 850px;
  top: -9px;

  background: linear-gradient(180deg, #BDE7FF 32.5%, rgba(255, 168, 168, 0) 132.5%);
}
#rec13{
  position: absolute;
  width: 98px;
  height: 596px;
  left: 809px;
  top: 165px;

  background: linear-gradient(180deg, #BDE7FF 0%, rgba(255, 168, 168, 0) 100%);
}
#rec14{
  position: absolute;
  width: 183px;
  height: 507px;
  left: 993px;
  top: 78px;

  background: linear-gradient(180deg, #FD7F7F 0%, rgba(212, 191, 255, 0) 100%);
}
#rec15{
  position: absolute;
width: 415px;
height: 530px;
left: 745px;
top: 268px;

background: linear-gradient(180deg, #82E8FF 0%, rgba(149, 255, 166, 0) 100%);
}
#win1{
  position: absolute;
  width: 64px;
  height: 60px;
  left: 791px;
  top: 322px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
#win2{
  position: absolute;
  width: 64px;
  height: 60px;
  left: 878px;
  top: 323px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
#win3{
  position: absolute;
  width: 64px;
  height: 60px;
  left: 965px;
  top: 322px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
#win4{
  position: absolute;
  width: 64px;
  height: 60px;
  left: 1052px;
  top: 323px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
#win5{
  position: absolute;
  width: 64px;
  height: 60px;
  left: 792px;
  top: 416px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
#win6{
  position: absolute;
  width: 64px;
  height: 60px;
  left: 879px;
  top: 417px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
#win7{
  position: absolute;
  width: 64px;
  height: 60px;
  left: 966px;
  top: 416px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
#win8{
  position: absolute;
  width: 64px;
  height: 60px;
  left: 1053px;
  top: 417px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
#win9{
  position: absolute;
  width: 64px;
  height: 60px;
  left: 792px;
  top: 512px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
#win10{
  position: absolute;
  width: 64px;
  height: 60px;
  left: 879px;
  top: 513px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
#win11{
  position: absolute;
  width: 64px;
  height: 60px;
  left: 966px;
  top: 512px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
#win12{
  position: absolute;
  width: 64px;
  height: 60px;
  left: 1053px;
  top: 513px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
#back{
  position: absolute;
  width: 2405px;
  height: 1691px;
  left: -59px;
  top: -9px;


  background: linear-gradient(180deg, #00255E 0%, rgba(125, 55, 228, 0.535338) 46.47%, rgba(255, 165, 165, 0) 100%);
  z-index: -10;
}
#car1{
  position: absolute;
  width: 183px;
  height: 55px;
  left: 409px;
  top: 683px;

  background: linear-gradient(180deg, #FFD600 0%, rgba(212, 191, 255, 0) 100%);
  border-radius: 25px;
}
#car2{
  position: absolute;
  width: 238px;
  height: 55px;
  left: 382px;
  top: 716px;

  background: linear-gradient(180deg, #FFD600 0%, rgba(212, 191, 255, 0) 100%);
  border-radius: 27px;
}
#car3{
  position: absolute;
  width: 183px;
  height: 55px;
  left: 977px;
  top: 683px;

  background: linear-gradient(180deg, #FFD600 0%, rgba(212, 191, 255, 0) 100%);
  border-radius: 25px;
}
#car4{
  position: absolute;
  width: 238px;
  height: 55px;
  left: 950px;
  top: 716px;

  background: linear-gradient(180deg, #FFD600 0%, rgba(212, 191, 255, 0) 100%);
  border-radius: 27px;
}
#car5{
  position: absolute;
  width: 324px;
  height: 157px;
  left: -86px;
  top: 598px;

  background: linear-gradient(180deg, #FF5252 0%, rgba(212, 191, 255, 0) 100%);
  border-radius: 27px;
}
#car{

}
#car{

}
#car{

}
#car{

}

#car{

}

h1{

  position: absolute;
  width: 589px;
  height: 347px;
  left: 1264px;
  top: 94px;

font-family: 'Montserrat', sans-serif;

font-weight: 100;
font-size: 100px;
line-height: 100%;
text-align: center;

color: #ffffff;
}
