#logo {
  font-family: 'Rock Salt', cursive;
  font-size: 25px;
  }

  header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 75px;
  padding: 1rem;
  color: white;
  background: BLACK;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding : 60px;
  z-index: 1

}


main {
  padding: 1rem;
  height: 100%;
}


#ppp{
  position: absolute;
width: 505px;
height: 333px;
left: 614px;
top: 254px;

font-family: 'arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 15px;

color: #000000;
}

#last{
  position: absolute;
  width: 629px;
  height: 39px;
  left: calc(50% - 599px/2 + 0.5px);
  top: 1000px;

  font-family: 'arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #000000;
}

* {
  box-sizing: border-box;
}

head{
  padding-top:100px;
}


#na{
  list-style:none;
  height:40px;
  padding:5px 1px;
  margin:0;

}

#na li{ /*전체메뉴의 리스트에 대한스타일*/
  float:left; /*왼쪽부터 표시*/
  position:relative; /*순서대로 표시*/
  margin:5px 30px;
  padding:0;
}

#na li a{
  display:block;
  font-family:"arial";
  font-weight:bold;
  font-size:18px;
  padding: 7px 8px;
  margin:0;
  color:#fff;
  margin:0;
  text-decoration:none;
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.3); /*글자에 그림자 삽입*/
}

#na li:hover a{ /*메뉴 링크에 마우스 포인터 올렸을때 스타일*/
  background: #ffcab2;
  color:black;
  margin:0;
  padding:5px;
}

#na ul{ /*서브메뉴스타일*/
  list-style:none;
  margin:0;
  padding:0;
  position:absolute; /*고정 위치에 표시*/
  left:0;
  top:40px;
  width:105px;
  background:BLACK;
  text-align:center;
  opacity:0; /*투명하게 표시되도록해서 평소에 안보이게*/
}

#na ul li{ /*서브메뉴 리스트들의 스타일*/
  float:none;
  margin:0;
  padding:0;
  font-size:10px;
}

#na ul a{ /*서브메뉴 리스트의 링크 스타일*/
  font-weight:normal;
  color:black;
}

#na ul li:hover a { /*서브메뉴 리스트로 마우스 포인터 올렸을때 스타일*/
  background:#cc9882;
  font-weight:bold;
}

#na li:hover ul { /*메인메뉴에 포인터 가져갔을때 서브메뉴 스타일*/
 opacity:1;
}

#na li:hover ul li { /*마우스 포인터를 올려놨을때 서브메뉴 스타일*/
  height:35px;
  overflow:visible;
  padding:0;
}

#pic{
  position:absolute;
  left:100px;
}

.line{
  position: absolute;
width: 173.41px;
height: 9.17px;
left: 428.43px;
top: 222px;
background-color: #000000;
border: 9px solid #000000;
transform: rotate(21.95deg);
}

.line2{
  position: absolute;
width: 173.41px;
height: 9.17px;
left: 885px;
top: 238.7px;
background-color: #000000;
border: 9px solid #000000;
transform: rotate(-30deg);
}

line3{
  position: absolute;
width: 150.5px;
height: 112.12px;
left: 1209px;
top: 805px;

border: 9px solid #000000;
 cubic-bezier: (0.64, 0, 0.78, 0);
}
.eye{
  position: absolute;
  width: 222px;
  height: 298px;
  left: 425px;
  top: 339px;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKr5wT7rfkjkGvNeqgXjBmarC5ZNoZs-H2uMpML8O7Q4F9W-IlUQibBT6IPqyvX45NOgw&usqp=CAU);

  border-radius: 50%
}

.eye2{
  position: absolute;
width: 227px;
height: 238px;
left: 837px;
top: 369px;

background: url(https://cf.ltkcdn.net/cats/images/orig/259025-1600x1030-gorgeous-grey-cat-breeds.jpg);
border-radius:  50%;
}

.book{
  position: absolute;

left: 676px;
top: 662px;

font-family: 'Inter';
font-style: black;
font-weight: 900;
font-size: 40px;
line-height: 48px;

color: #000000;

}
.book2{
  position: absolute;

left: 697px;
top: 722px;

font-family: 'Inter';
font-style: black;
font-weight: 900;
font-size: 100px;
line-height: 48px;

color: #000000;

}

mouth{
  position: absolute;
  width: 991px;
  height: 132px;
  left: 260px;
  top: 877.45px;

  background: #FFCECE;
  z-index: -1;
}

mouth2{
  position: absolute;
width: 991px;
height: 108px;
left: 292px;
top: 1032.45px;

background: #E39BA4;
z-index: -2;
}

.book-container{
    margin-left: auto;
    margin-right: auto;
    margin-top : 550px;
    width: 1200px;
    background-color: ;
    font-family: ;
    color:;
    align-items: center;
    text-align: center;
    border: px solid rgb(210, 210, 255);
    height: 400px;
    z-index: 10;
}
.abt-me{
    text-align: left;
    padding: 10px;
    display: flex;
}
.abt-me-txt-info{
    background-color: #FFCECE;
    border: px solid rgb();
    color: #000000;
    width: 1000px;
    padding: 10px;
    border-radius: 10px;
}
.abt-me-txt-info1{
    margin-right: 20px;

}
.abt-me-txt{
    padding: 10px;
}
