header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 75px;
  padding: 1rem;
  color: white;
  background: BLACK;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, p {
  margin: 0;
}

main {
  padding: 1rem;
  height: 100%;
}

body {
  background: #EEE;
  padding-left:100px;
}

body, html {
  height: 200%;
}

* {
  box-sizing: border-box;
}

head{
  padding-top:100px;
}


#na{
  list-style:none;
  height:40px;
  padding:5px 1px;
  margin:0;

}

#na li{ /*전체메뉴의 리스트에 대한스타일*/
  float:left; /*왼쪽부터 표시*/
  position:relative; /*순서대로 표시*/
  margin:5px 30px;
  padding:0;
}

#na li a{
  display:block;
  font-family:"arial";
  font-weight:bold;
  font-size:18px;
  padding: 7px 8px;
  margin:0;
  color:#fff;
  margin:0;
  text-decoration:none;
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.3); /*글자에 그림자 삽입*/
}

#na li:hover a{ /*메뉴 링크에 마우스 포인터 올렸을때 스타일*/
  background: #ffcab2;
  color:black;
  margin:0;
  padding:5px;
}

#na ul{ /*서브메뉴스타일*/
  list-style:none;
  margin:0;
  padding:0;
  position:absolute; /*고정 위치에 표시*/
  left:0;
  top:40px;
  width:105px;
  background:BLACK;
  text-align:center;
  opacity:0; /*투명하게 표시되도록해서 평소에 안보이게*/
}

#na ul li{ /*서브메뉴 리스트들의 스타일*/
  float:none;
  margin:0;
  padding:0;
  font-size:10px;
}

#na ul a{ /*서브메뉴 리스트의 링크 스타일*/
  font-weight:normal;
  color:black;
}

#na ul li:hover a { /*서브메뉴 리스트로 마우스 포인터 올렸을때 스타일*/
  background:#cc9882;
  font-weight:bold;
}

#na li:hover ul { /*메인메뉴에 포인터 가져갔을때 서브메뉴 스타일*/
 opacity:1;
}

#na li:hover ul li { /*마우스 포인터를 올려놨을때 서브메뉴 스타일*/
  height:35px;
  overflow:visible;
  padding:0;
}

img{
  position:absolute;
  left:100px;
}
