html, body, * {
    margin: 0;
    padding: 0;
    background-color: ;



        }

.canvas {
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        }

.circle {
    background-color: pink;
    
    border-width: 5px;
    height: 595px;
    width: 595px;
    margin-right: 5px;
    float: left;
    animation-name: shapeChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes shapeChange {
  0% {
    background-color: pink;
    border-radius: 50%;
    border-width: 5px;
    height: 595px;
    width: 595px;
    margin-right: 5px;
    float: left;
  }
  100% {

    border-width: 5px;
    height: 595px;
    width: 595px;
    margin-right: 5px;
    float: left;
  }
}


@keyframes blur {
    from {
        -webkit-filter: blur(00px); /* Safari */
        filter: blur(00px);
      background-color: white;}

    to {
        -webkit-filter: blur(80px); /* Safari */
        filter: blur(80px);
        background-color: black; }
}


@keyframes blur2 {
    from {
        -webkit-filter: blur(00px); /* Safari */
        filter: blur(00px);  }

    to {
        -webkit-filter: blur(80px); /* Safari */
        filter: blur(80px);  }
}
